#box_input{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    border: 2px solid; 
    border-radius: 10px; 
    width: 300px; 
    padding: 20px; 
    margin: 0 auto;
}
#box_input p{
    font-weight: bold;
}
#box_input input{
    border: 2px solid;
    border-radius: 15px;
    padding: 10px;
}
#box_input input:focus {
    outline: none;
    border-color: #e30613;
    transform: scale(1.05);
    box-shadow: 0 0 8px #e30613;
}
#box_input input[type="file"]{
    cursor: pointer;
}
#box_input button{
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
}
#box_input button:hover{
    transform: scale(1.125);
    cursor: pointer;
}